<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li class="open">
                <a href="javascript:;">
                    <cite>资源管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:U('/mroom/workspace/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会议室管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>