*{
	margin: 0;
	padding: 0;
}
ol,ul {   
   list-style:none;   
}
table {  
 border-collapse: separate;  
 border-spacing: 0;  
}
fieldset,img {    
 border:0;   
}
h1,h2,h3,h4,h5,h6 {   
  font-size:100%;   
   font-weight:normal;   
}   
q:before,q:after {   
    content:'';   
}   
abbr,acronym { 
	border:0;   
}   	     